[run]
omit =
    pybtc/connector/*
    pybtc/bitarray/*
    pybtc/test/*
    pybtc/crypto.py
    pybtc/__init__.py
    tests
source = pybtc, tests
branch = True

data_file = coverage/.coverage

[coverage:report]
show_missing = true
precision = 2

[html]

directory = coverage