sudo: false

language: python

python:
    - 3.6
    - 3.7
    - 3.8


install:
    - pip install -Ur requirements-dev.txt
    - pip install .
    - pip install codecov
    - python3 setup.py install

script:
  - make cov

  after_success:
    - codecov